doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style!=CSS
    | !{CHART_HEAD}

  body(class="dw-chart chart" class=CHART_CLASS data-id="__svelte-dw")
    //- https://v8.dev/blog/cost-of-javascript-2019#json
    script window.__DW_SVELTE_PROPS__ = JSON.parse(!{__DW_SVELTE_PROPS__});

    each src in SCRIPTS
      script(src=src)

    | !{CHART_HTML}

    script.
      window.parent.postMessage('datawrapper:vis:reload', '*');
      /* Modified version of https://jasonformat.com/modern-script-loading/ */
      $loadjs(JSON.parse(!{CORE_SCRIPT}))
      function $loadjs(js,s,p) {
        s = document.createElement('script')
        if ('noModule' in s) s.type = 'module', s.src = js['main.js']
        else {
          s.src = js['main.legacy.js']
          p = document.createElement('script')
          /* polyfill needed for svelte 3 code in IE11 */
          p.src = "document-register-element.js"
          document.head.appendChild(p)
        }
        document.head.appendChild(s)
      }
